name: Daily update

permissions:
  contents: write

on:
  workflow_dispatch:
  schedule:
    - cron: '0 5 * * *'

jobs:
  scheduled:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Git config
      run: |-
        git config user.name "Wendy"
        git config user.email "freeman@steamdb.info"

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.4'

    - name: Run script
      run: ./update.sh
